<% obj.each do |article| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="well well-lg article-block">
          <div class="article-title">
            <%=link_to article.title, article_path(article), class: 'Title' %>
          </div>
          <section class="about">
              <%= article.created_at.strftime("Posted on %b, %d %Y") %>
               &bull; By <%= article.user.username if article.user %>
          </section>
          <div class="article-body">
            <p><%= article.description %></p>
          </div>
          <% if logged_in? && current_user == article.user %>
            <div class="article-links">
              <%= link_to "Edit", edit_article_path(article), class: 'Link' %>
              <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure"}, class: 'Link' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>