<% @articles.each do |article| %>
    <h2><%= article.title %></h2>
      <p><%= article.description %></p>
      <%= link_to "Edit", edit_article_path(article), class: 'Link' %>
      <%= link_to "View", article_path(article), class: 'Link' %>
      <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure"}, class: 'Link' %>
<% end %>